$--slider: (
  'button-size': 15px
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $slider: $--slider
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// custom dark variables
@use './dark.scss';
@use './pingfang.scss';

:root {
  --el-border-radius-base: 8px;
  --el-font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', Ubuntu, Arial, Roboto,
    'Source Sans 3', 'Source Sans Pro', 'Segoe UI', system-ui, sans-serif, emoji;
}

html[lang^='zh-Hans'],
html[lang^='zh-CN'],
html[lang^='zh-SG'] {
  --el-font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'HarmonyOS Sans SC', PingFangSC,
    'OPPO Sans 4.0', 'OPPO Sans', 'OPPOSans R', Ubuntu, Arial, 'Microsoft YaHei UI',
    'Source Han Sans SC', 'Source Han Sans CN', Roboto, 'Noto Sans CJK SC', system-ui, sans-serif,
    emoji;
}

/* 繁体中文 香港 zh-Hant-HK 和 zh-HK */
html[lang^='zh-Hant-HK'],
html[lang^='zh-HK'] {
  --el-font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'HarmonyOS Sans TC', PingFangHK, Ubuntu,
    Arial, 'Microsoft JhengHei UI', 'LiHei Pro', 'Source Han Sans HK', Roboto, 'Noto Sans CJK HK',
    system-ui, sans-serif, emoji;
}

/* 其他繁体 zh-Hant（不包括HK） */
html[lang^='zh-Hant']:not([lang^='zh-Hant-HK']),
html[lang^='zh-TW'] {
  --el-font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'HarmonyOS Sans TC', PingFangTC, Ubuntu,
    Arial, 'Microsoft JhengHei UI', 'LiHei Pro', 'Source Han Sans TC', Roboto, 'Noto Sans CJK TC',
    system-ui, sans-serif, emoji;
}

.el-message-box {
  --el-messagebox-border-radius: 8px;
  padding: 20px 24px;

  & .el-message-box__title {
    font-size: var(--el-font-size-medium);
    font-weight: bold;
  }
}

.el-color-picker__panel {
  padding: 10px;
}

.el-popper {
  --el-popover-border-radius: 8px;
}

.el-dialog {
  & .el-dialog__header {
    font-size: var(--el-font-size-medium);
    font-weight: bold;
  }
}
