$--slider: (
  'button-size': 15px
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $slider: $--slider
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// custom dark variables
@use './dark.scss';
@use './pingfang.scss';

$font-apple: -apple-system, BlinkMacSystemFont;
$font-fallback: system-ui, sans-serif, emoji;
$font-common: Inter, Ubuntu, Arial, Roboto, 'Source Sans 3', 'Source Sans Pro';
$font-sc:
  'OPPO Sans 4.0', 'OPPO Sans', 'OPPOSans R', PingFangSC, 'Microsoft YaHei UI',
  'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC';
$font-hk:
  'HarmonyOS Sans TC', 'Microsoft JhengHei UI', PingFangHK, 'LiHei Pro', 'Source Han Sans HK',
  'Noto Sans CJK HK';
$font-tc:
  'HarmonyOS Sans TC', 'Microsoft JhengHei UI', PingFangTC, 'LiHei Pro', 'Source Han Sans TC',
  'Noto Sans CJK TC';

:root {
  --el-border-radius-base: 8px;
  --el-font-family: #{$font-apple}, #{$font-common}, #{$font-fallback};
}

html {
  &[lang^='zh-Hans'],
  &[lang^='zh-CN'],
  &[lang^='zh-SG'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans SC', #{$font-common}, #{$font-sc}, #{$font-fallback};
  }

  /* 繁体中文 香港 zh-Hant-HK 和 zh-HK */
  &[lang^='zh-Hant-HK'],
  &[lang^='zh-HK'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans TC', #{$font-common}, #{$font-hk}, #{$font-fallback};
  }

  /* 其他繁体 zh-Hant（不包括HK） */
  &[lang^='zh-Hant']:not([lang^='zh-Hant-HK']),
  &[lang^='zh-TW'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans TC', #{$font-common}, #{$font-tc}, #{$font-fallback};
  }
}

.el-message-box {
  --el-messagebox-border-radius: 8px;
  padding: 20px 24px;

  & .el-message-box__title {
    font-size: var(--el-font-size-medium);
    font-weight: bold;
  }
}

.el-color-picker__panel {
  padding: 10px;
}

.el-popper {
  --el-popover-border-radius: 8px;
}

.el-dialog {
  & .el-dialog__header {
    font-size: var(--el-font-size-medium);
    font-weight: bold;
  }
}
