$unicode-range-cjk:
  /* 基本汉字 */
  U+4E00-9FFF,
  /* 扩展A */ U+3400-4DBF,
  /* 扩展B */ U+20000-2A6DF,
  /* 扩展C */ U+2A700-2B73F,
  /* 扩展D */ U+2B740-2B81F,
  /* 扩展E */ U+2B820-2CEAF,
  /* 扩展F */ U+2CEB0-2EBEF,
  /* 标点 */ U+3000-303F,
  /* 全角半角 */ U+FF00-FFEF,
  /* 日文平假名 */ U+3040-309F,
  /* 日文片假名 */ U+30A0-30FF,
  /* 日文片假名扩展 */ U+31F0-31FF,
  /* 韩文音节 */ U+AC00-D7AF;

// --------------------

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Ultralight');
  font-weight: 100;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Thin');
  font-weight: 200;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Light');
  font-weight: 300;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Regular');
  font-weight: 400;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Medium');
  font-weight: 500;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Semibold');
  font-weight: 600;
  unicode-range: #{$unicode-range-cjk};
}

// --------------------

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Ultralight');
  font-weight: 100;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Thin');
  font-weight: 200;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Light');
  font-weight: 300;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Regular');
  font-weight: 400;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Medium');
  font-weight: 500;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Semibold');
  font-weight: 600;
  unicode-range: #{$unicode-range-cjk};
}

// --------------------

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Ultralight');
  font-weight: 100;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Thin');
  font-weight: 200;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Light');
  font-weight: 300;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Regular');
  font-weight: 400;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Medium');
  font-weight: 500;
  unicode-range: #{$unicode-range-cjk};
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Semibold');
  font-weight: 600;
  unicode-range: #{$unicode-range-cjk};
}
