@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Ultralight'), local('PingFangSC-Ultralight');
  font-weight: 100;
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Thin'), local('PingFangSC-Thin');
  font-weight: 200;
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Light'), local('PingFangSC-Light');
  font-weight: 300;
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Regular'), local('PingFangSC-Regular');
  font-weight: 400;
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Medium'), local('PingFangSC-Medium');
  font-weight: 500;
}

@font-face {
  font-family: 'PingFangSC';
  src: local('PingFang SC Semibold'), local('PingFangSC-Semibold');
  font-weight: 600;
}

// --------------------

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Ultralight'), local('PingFangTC-Ultralight');
  font-weight: 100;
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Thin'), local('PingFangTC-Thin');
  font-weight: 200;
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Light'), local('PingFangTC-Light');
  font-weight: 300;
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Regular'), local('PingFangTC-Regular');
  font-weight: 400;
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Medium'), local('PingFangTC-Medium');
  font-weight: 500;
}

@font-face {
  font-family: 'PingFangTC';
  src: local('PingFang TC Semibold'), local('PingFangTC-Semibold');
  font-weight: 600;
}

// --------------------

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Ultralight'), local('PingFangHK-Ultralight');
  font-weight: 100;
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Thin'), local('PingFangHK-Thin');
  font-weight: 200;
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Light'), local('PingFangHK-Light');
  font-weight: 300;
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Regular'), local('PingFangHK-Regular');
  font-weight: 400;
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Medium'), local('PingFangHK-Medium');
  font-weight: 500;
}

@font-face {
  font-family: 'PingFangHK';
  src: local('PingFang HK Semibold'), local('PingFangHK-Semibold');
  font-weight: 600;
}
