@font-face {
  font-family: PingFangSC;
  font-weight: 100;
  src: local('PingFang SC Ultralight'), local('PingFangSC-Ultralight');
}

@font-face {
  font-family: PingFangSC;
  font-weight: 200;
  src: local('PingFang SC Thin'), local('PingFangSC-Thin');
}

@font-face {
  font-family: PingFangSC;
  font-weight: 300;
  src: local('PingFang SC Light'), local('PingFangSC-Light');
}

@font-face {
  font-family: PingFangSC;
  font-weight: 400;
  src: local('PingFang SC Regular'), local('PingFangSC-Regular');
}

@font-face {
  font-family: PingFangSC;
  font-weight: 500;
  src: local('PingFang SC Medium'), local('PingFangSC-Medium');
}

@font-face {
  font-family: PingFangSC;
  font-weight: 600;
  src: local('PingFang SC Semibold'), local('PingFangSC-Semibold');
}

// --------------------

@font-face {
  font-family: PingFangTC;
  font-weight: 100;
  src: local('PingFang TC Ultralight'), local('PingFangTC-Ultralight');
}

@font-face {
  font-family: PingFangTC;
  font-weight: 200;
  src: local('PingFang TC Thin'), local('PingFangTC-Thin');
}

@font-face {
  font-family: PingFangTC;
  font-weight: 300;
  src: local('PingFang TC Light'), local('PingFangTC-Light');
}

@font-face {
  font-family: PingFangTC;
  font-weight: 400;
  src: local('PingFang TC Regular'), local('PingFangTC-Regular');
}

@font-face {
  font-family: PingFangTC;
  font-weight: 500;
  src: local('PingFang TC Medium'), local('PingFangTC-Medium');
}

@font-face {
  font-family: PingFangTC;
  font-weight: 600;
  src: local('PingFang TC Semibold'), local('PingFangTC-Semibold');
}

// --------------------

@font-face {
  font-family: PingFangHK;
  font-weight: 100;
  src: local('PingFang HK Ultralight'), local('PingFangHK-Ultralight');
}

@font-face {
  font-family: PingFangHK;
  font-weight: 200;
  src: local('PingFang HK Thin'), local('PingFangHK-Thin');
}

@font-face {
  font-family: PingFangHK;
  font-weight: 300;
  src: local('PingFang HK Light'), local('PingFangHK-Light');
}

@font-face {
  font-family: PingFangHK;
  font-weight: 400;
  src: local('PingFang HK Regular'), local('PingFangHK-Regular');
}

@font-face {
  font-family: PingFangHK;
  font-weight: 500;
  src: local('PingFang HK Medium'), local('PingFangHK-Medium');
}

@font-face {
  font-family: PingFangHK;
  font-weight: 600;
  src: local('PingFang HK Semibold'), local('PingFangHK-Semibold');
}
