@use './mixins/acrylic.scss' as acrylic;

.action-btn-container {
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.action-btn {
  width: 37px;
  height: 37px;
  padding: 6px;
  font-size: 25px;
  line-height: 1em;
  color: var(--el-text-color-secondary);
  cursor: pointer;
  background-color: var(--el-bg-color-overlay);
  border-radius: 12px;
  transition: var(--el-transition-duration-fast) ease-in-out;

  &:hover,
  &:focus {
    border-radius: 50%;
    box-shadow: var(--el-box-shadow-lighter);
  }

  &:not(.action-btn--tran):hover,
  &:not(.action-btn--tran):focus {
    color: var(--el-color-primary);
    background-color: var(--el-color-primary-light-8);
  }

  &--tran {
    color: rgb(from var(--el-text-color-primary) r g b / 35%);
    background-color: transparent;
    border-radius: 50%;

    &:hover,
    &:focus {
      color: rgb(from var(--el-text-color-primary) r g b / 60%);
      background-color: rgb(from var(--el-bg-color-overlay) r g b / 30%);

      &.action-btn--blur {
        @include acrylic.acrylic;
      }
    }
  }

  .el-icon {
    transition: transform var(--el-transition-duration) ease-in-out;
  }
}

.bookmark-btn {
  &:hover,
  &:focus {
    .el-icon {
      transform: scaleX(-1);
    }
  }
}

.refresh-btn {
  &:hover,
  &:focus {
    .el-icon {
      transform: rotate(360deg);
    }
  }
}

.setting-btn {
  &:hover,
  &:focus {
    .el-icon {
      transform: rotate(180deg);
    }
  }

  .el-badge {
    display: block;
  }

  &__popper.el-popper {
    .el-dropdown-menu {
      padding: 8px;
      background-color: transparent;
    }

    .el-dropdown-menu__item {
      padding: 5px 30px 5px 10px;
      font-size: var(--el-font-size-extra-small);
      border-radius: 12px;

      .el-icon {
        margin-right: 10px;
        font-size: 16px;
      }
    }

    html.colorful &:not(.setting-btn__popper--opacity) {
      background-color: var(--el-color-primary-light-9);

      .el-dropdown-menu__item:hover {
        background-color: var(--el-color-primary-light-8);
      }
    }

    &.setting-btn__popper--opacity {
      background-color: var(--le-bg-color-overlay-opacity-20);
    }

    &.setting-btn__popper--blur {
      @include acrylic.acrylic;
    }
  }
}
