@use '@/assets/styles/variables.scss' as *;

html {
  &[lang^='zh-Hans'],
  &[lang^='zh-CN'],
  &[lang^='zh-SG'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans SC', #{$font-common}, #{$font-sc}, #{$font-fallback};
  }

  /* 繁体中文 港澳 */
  &[lang^='zh-Hant-HK'],
  &[lang^='zh-HK'],
  &[lang^='zh-Hant-MO'],
  &[lang^='zh-MO'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans TC', #{$font-common}, #{$font-hk}, #{$font-fallback};
  }

  /* 台湾正体 */
  &[lang^='zh-Hant']:not([lang^='zh-Hant-HK'], [lang^='zh-Hant-MO']),
  &[lang^='zh-TW'] {
    --el-font-family:
      #{$font-apple}, 'HarmonyOS Sans TC', #{$font-common}, #{$font-tc}, #{$font-fallback};
  }
}

// :root {
//   --el-font-family: #{$font-apple}, #{$font-common}, #{$font-fallback};
// }
