@use '@newtab/styles/mixins/acrylic.scss' as acrylic;

.search-box {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  --cubic-bezier: cubic-bezier(0.65, 0.05, 0.1, 1);

  &__form {
    --height: 44px;
    --width: 300px;
    --search-form-placeholder-color: var(--el-text-color-regular);

    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    height: var(--height);
    font-size: 15px;
    color: transparent;
    border-radius: calc(var(--height) / 2);
    transition:
      background-color var(--el-transition-duration-fast) ease,
      box-shadow var(--el-transition-duration-fast) ease,
      border var(--el-transition-duration-fast) ease,
      width var(--el-transition-duration-fast) var(--cubic-bezier);

    html.dark & {
      --search-form-placeholder-color: var(--el-text-color-secondary);
    }

    &--blur {
      @include acrylic.acrylic;
    }

    &:hover:not(.search-box__form--focus) {
      --width: 500px;
      --search-form-placeholder-color: var(--el-text-color-primary);
    }

    // 不透明时浅色模式搜索框背景变化
    /* stylelint-disable-next-line no-descending-specificity */
    &:not(.search-box__form--opacity) {
      background-color: var(--el-fill-color-darker);

      // 不透明时深色模式搜索框背景变化
      html.dark & {
        background-color: var(--el-fill-color);
      }

      html.colorful & {
        background-color: var(--el-color-primary-light-9);
      }

      &:hover:not(.search-box__form--focus) {
        background-color: var(--el-fill-color-dark);

        html.dark & {
          background-color: var(--el-fill-color-dark);
        }

        html.colorful & {
          background-color: var(--el-color-primary-light-8);
        }
      }

      &.search-box__form--focus {
        background-color: var(--el-fill-color);

        html.dark & {
          background-color: var(--el-fill-color-darker);
        }

        html.colorful & {
          background-color: var(--el-color-primary-light-8);
        }
      }
    }

    // 透明时搜索框背景变化
    &--opacity {
      background-color: var(--le-bg-color-overlay-opacity-50);

      &:hover:not(.search-box__form--focus) {
        background-color: var(--le-bg-color-overlay-opacity-35);
      }

      &.search-box__form--focus {
        background-color: var(--le-bg-color-overlay-opacity-20);
      }
    }

    &--shadow {
      box-shadow: var(--el-box-shadow);

      html.dark & {
        box-shadow: var(--el-box-shadow-light);
      }
    }

    &--expand {
      --width: 500px;
    }

    html:not(.dark, .colorful) &.search-box__form--dark {
      background-color: var(--el-fill-color-blank);
      border: solid 1px var(--el-border-color-light);
    }

    .search-engine-menu__icon {
      color: var(--el-text-color-regular);
    }

    .search-engine-menu__icon--custom {
      img {
        width: 1em;
        height: 1em;
        object-fit: contain;
      }
    }

    .search-box__btn {
      color: var(--el-color-primary);
    }

    .search-engine-menu__icon,
    .search-box__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--height) - 10px);
      height: calc(var(--height) - 10px);
      margin: 5px;
      overflow: hidden;
      border-radius: 50%;
      transition:
        color var(--el-transition-duration-fast) ease,
        background-color var(--el-transition-duration-fast) ease,
        opacity var(--el-transition-duration-fast) ease;
    }

    &--focus {
      --width: 500px;

      .search-engine-menu__icon,
      .search-box__btn {
        cursor: pointer;

        &:hover {
          background: white;
        }
      }
    }

    .search-box__input {
      width: calc(100% - 2 * var(--height) - 20px);
      height: 100%;
      font-size: 1em;
      color: var(--el-text-color-primary);
      text-align: center;
      outline: none;
      background: none;
      border: none;
      transition:
        width var(--el-transition-duration-fast) var(--cubic-bezier),
        color var(--el-transition-duration-fast) ease;

      &::placeholder {
        color: var(--search-form-placeholder-color);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
      }
    }
  }
}

@media screen and (width <= 600px) {
  .search-box__form {
    --height: 40px;
    --width: 75vw;

    &:hover:not(.search-box__form--focus),
    &.search-box__form--focus {
      --width: 85vw;
    }
  }
}
