@use '@newtab/styles/mixins/acrylic.scss' as acrylic;

.settings__dialog.el-dialog {
  display: flex;
  height: 500px;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 var(--le-bg-color-page-opacity-60);
  transition: box-shadow var(--el-transition-duration-fast) ease;

  html.dialog-acrylic & {
    @include acrylic.acrylic;
  }

  .el-dialog__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--el-bg-color-page);
    transition:
      background-color var(--el-transition-duration-fast) ease,
      color var(--el-transition-duration-fast) ease;

    html.colorful & {
      background-color: var(--el-color-primary-light-9);
    }

    html.dialog-transparent & {
      background-color: var(--le-bg-color-overlay-opacity-20);
    }
  }
}

.settings-header {
  position: relative;
  flex-shrink: 0;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  color: var(--el-text-color-primary);
  text-align: center;
  cursor: move;

  .base-dialog-close-btn {
    width: 20px;
    line-height: 1;
  }

  .mobile-back-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 1;
    color: var(--el-text-color-regular);
    cursor: pointer;
    transition: color var(--el-transition-duration-fast);

    &:hover {
      color: var(--el-text-color-primary);
    }
  }
}

.settings__items-container {
  padding: 14px 25px;
  margin-bottom: 30px;
  background-color: var(--el-bg-color);
  border-radius: 8px;
  transition: background-color var(--el-transition-duration-fast) ease;

  .is-mobile & {
    margin-bottom: 25px;
  }

  html.colorful & {
    background-color: var(--el-color-primary-light-8);
  }

  html.dialog-transparent & {
    background-color: var(--le-bg-color-overlay-opacity-20);
  }

  html.colorful.dialog-transparent & {
    background-color: var(--el-color-primary-light-9);
  }
}

.settings__item {
  width: 100%;
  margin-top: 8px;

  &:first-of-type {
    margin-top: 0;
  }

  &--horizontal {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }

  &--vertical {
    margin-top: 15px;

    &:first-of-type {
      margin-top: 8px;
    }

    .el-input-number,
    .el-input {
      width: 60px;
    }
  }

  &--note {
    margin-top: 0;
    font-size: var(--el-font-size-extra-small);
    line-height: 1.5em;
    color: var(--el-text-color-secondary);

    svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: middle;
      opacity: 0.4;
    }
  }

  .el-slider {
    height: 35px;
    padding: 0 10px;
  }
}

.settings__label {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  align-items: center;

  .settings__item--horizontal & {
    min-height: 32px;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    opacity: 0.4;
  }
}

.settings-item-popper {
  padding: 6px 0;
  overflow: hidden;

  .el-select-dropdown__list {
    padding: 2px 0;
  }
}

.settings-aside {
  flex-shrink: 0;
  min-width: 64px;
  height: 100%;
  background-color: #e9e9e9;
  transition:
    background-color var(--el-transition-duration-fast) ease,
    border-color var(--el-transition-duration-fast) ease;

  .is-mobile & {
    min-width: 100%;
    background-color: initial !important;
  }

  html.colorful & {
    background-color: var(--el-color-primary-light-8);
  }

  html.dialog-transparent & {
    background-color: var(--le-fill-color-dark-opacity-20);
  }

  html.dark:not(.colorful) & {
    background-color: var(--el-fill-color-lighter);
  }

  html.dark.dialog-transparent & {
    background-color: var(--le-fill-color-lighter-opacity-20);
  }

  html.dialog-transparent.colorful :not(.is-mobile) & {
    background-color: var(--le-bg-color-overlay-opacity-30);
  }
}

.settings-menu.el-menu {
  height: 100%;
  background-color: transparent;
  border: initial;

  &:not(.el-menu--collapse) {
    width: 230px;
  }

  .settings-menu__icon {
    &:has(.el-icon) {
      padding: 16px 20px 25px;
    }

    .is-mobile & {
      padding: 31px 30px 10px;
      font-size: 25px;
      line-height: 36px;
      color: var(--el-text-color-primary);
    }
  }

  &.el-menu--collapse .settings-menu__icon:has(.el-icon) {
    padding: 16px 14px 25px;
  }

  .is-mobile & {
    width: 100% !important;
  }

  .settings-menu-item {
    --el-menu-item-height: 36px;
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-hover-bg-color: var(--le-fill-color-dark-opacity-20);
    position: relative;
    transition:
      border-color var(--el-transition-duration-fast),
      background-color var(--el-transition-duration-fast),
      color var(--el-transition-duration-fast);

    .is-mobile & {
      --el-menu-base-level-padding: 30px;
    }

    &.is-active,
    html.colorful &:hover {
      background-color: var(--el-color-primary-light-9);
    }

    .menu-chevron {
      position: absolute;
      right: 20px;
      color: var(--el-text-color-secondary);
      transition: color var(--el-transition-duration-fast) ease;
    }

    &:not(.is-active):hover .menu-chevron {
      color: var(--el-menu-text-color);
    }
  }

  .menu-title {
    flex: 1;
  }
}

.settings-main.el-main {
  padding: 0 20px 0 30px;

  .is-mobile & {
    padding: 0 15px 0 25px;
  }

  .settings-content {
    height: 100%;

    .el-scrollbar__wrap {
      padding-right: 10px;
    }

    &__title {
      padding: 0 10px;
      margin: 25px 0 20px;
      font-size: 28px;
      font-weight: 600;
      color: var(--el-text-color-primary);
      transition: color var(--el-transition-duration-fast) ease;
    }

    .is-mobile & &__title {
      margin: 20px 0 15px;
      font-size: 24px;
    }
  }
}

.settings-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.15s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.settings-slide {
  &-left-enter-active,
  &-left-leave-active,
  &-right-enter-active,
  &-right-leave-active {
    transition: all var(--el-transition-duration-fast) cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-left-enter-from,
  &-right-leave-to {
    opacity: 0;
    transform: translateX(100%);
  }

  &-left-leave-to,
  &-right-enter-from {
    opacity: 0;
    transform: translateX(-30%);
  }

  &-left-enter-active,
  &-right-enter-active {
    position: relative;
    z-index: 2;
  }

  &-left-leave-active,
  &-right-leave-active {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
