@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@use 'element-plus/theme-chalk/src/notification.scss' as *;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Color Emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'), local('Noto Color Emoji'),
    local('Segoe Fluent Icons'), local('Segoe MDL2 Assets'), local('Segoe UI Symbol');
}

html,
body,
#app {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family:
    HarmonyOS Sans SC,
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Microsoft YaHei,
    Color Emoji,
    emoji,
    system-ui,
    ui-sans-serif,
    sans-serif;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.update-content {
  ul {
    padding-inline-start: 20px;
  }
}

.el-notification {
  background-color: color-mix(in srgb, var(--el-bg-color-overlay), transparent 25%);
  backdrop-filter: blur(10px);
  transition: background-color 0.2s ease;
}

.el-switch {
  transform: scale(0.95);
}
